.header-image {
  background: url("https://wallpaperlayer.com/img/2015/9/world-map-wallpaper-3658-3877-hd-wallpapers.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.view {
  width: 100%;
}
