.view {
  background: url("http://www.hddesktopbackgrounds.us/backgrounds-images/1920x1080/b48ti-wallpapers-091421358-1920x1080.jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.card-layout {
  background-color: #f5f5f5;
  margin: 30px auto;
  width: 100%;
}

