<div class="text-center py-5 cards-container">

  <div class="container">



    <div class="btn-group" dropdown><p class="h3">Choose city:</p>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
        {{ city }}
      </button>

      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" (click)="selectCity('Belgrade')">Belgrade</a>
        <a class="dropdown-item" (click)="selectCity('Nis')">Nis</a>
        <a class="dropdown-item" (click)="selectCity('Kragujevac')">Kragujevac</a>
        <a class="dropdown-item" (click)="selectCity('Visegrad')">Visegrad</a>
      </div>
    </div>

  </div>

  <div class="card-layout">
    <div class="row">

      <div class="col-md-3 main-card">
        <div class="card">

          <!--Card image-->
          <img class="img-fluid" src="https://media.timeout.com/images/103550412/image.jpg" alt="Card image cap">

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Nightlife</h4>
            <!--Text-->
            <div class="slidecontainer">
              <label>{{ nightlifeSlider }} %</label>
              <input type="range" min="0" max="100" value="50" class="slider" [(ngModel)]="nightlifeSlider" (ngModelChange)="sliderChange()">
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 main-card">
        <div class="card">

          <!--Card image-->
          <img class="img-fluid" src="https://i.pinimg.com/originals/3e/99/38/3e993812ef62af0471f9741d642a3943.jpg">

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Sport</h4>
            <!--Text-->
            <div class="slidecontainer">
              <label>{{ sportSlider }} %</label>
              <input type="range" min="0" max="100" value="50" class="slider" [(ngModel)]="sportSlider" (ngModelChange)="sliderChange()">
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 main-card">
        <div class="card">

          <!--Card image-->
          <img class="img-fluid" src="https://images.oyster.com/articles/18446-yellowstone.jpg">

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Nature</h4>
            <!--Text-->
            <div class="slidecontainer">
              <label>{{ natureSlider }} %</label>
              <input type="range" min="0" max="100" value="50" class="slider" [(ngModel)]="natureSlider" (ngModelChange)="sliderChange()">
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 main-card">
        <div class="card">

          <!--Card image-->
          <img class="img-fluid" src="http://www.oris.hr/files/g/1-389/540x360-9/zg-u-sredistu-2.jpg" alt="Card image cap">

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Historical</h4>
            <!--Text-->
            <div class="slidecontainer">
              <label>{{ historicalSlider }} %</label>
              <input type="range" min="0" max="100" value="50" class="slider" [(ngModel)]="historicalSlider" (ngModelChange)="sliderChange()">
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <button type="button" class="btn btn-lg btn-primary waves-light" mdbWavesEffect (click)="submit()">Submit</button>
</div>

<div id="googleMap"></div>
<div id="directions-panel"></div>
<!--<table class="table table-striped">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>#</th>-->
    <!--<th>From</th>-->
    <!--<th>To</th>-->
    <!--<th>Distance</th>-->
    <!--<th>Duration</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr [hidden]="!flag" *ngFor="let route of getRoutes(); let i = index">-->
    <!--<th scope="row">{{ i + 1 }}</th>-->
    <!--<td>{{ route.start_address }}</td>-->
    <!--<td>{{ route.end_address }}</td>-->
    <!--<td>{{ route.distance }}</td>-->
    <!--<td>{{ route.duration }}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->
