<section>
  <div class="card" style="width: 28rem; margin: 50px auto;">
    <div class="card-body">
      <form (submit)="login()">
        <p class="h5 text-center mb-4">Sign in</p>
        <!--Body-->
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text active"></i>
          <input type="text" id="defaultForm-email" class="form-control">
          <label for="defaultForm-email" class="active">Your email</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text active"></i>
          <input type="password" id="defaultForm-pass" class="form-control">
          <label for="defaultForm-pass" class="active">Your password</label>
        </div>

        <div class="text-center">
          <button class="btn btn-default waves-effect waves-light">Login</button>
        </div>

        <!--Footer-->
        <div class="modal-footer">
          <div class="options">
            <p>Not a member?
              <a routerLink="/register">Sign Up</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>